
h3{
    color: #66CCCC;
}

a{
    text-decoration: none;
}

/* a:link,
a:visited,
a:hover,
a:active {
  color:#333;
} */

.header{
    text-align: center;
    color: #333;
}

.menu ul{
    list-style: none;
    overflow: hidden;
    height: 30px;
}


.menu li{
    width: 160px;
    text-align: center;
    line-height: 30px;
    background-color:#66CCCC;
    float: left;
    margin-right: 2px;
}

.menu li:hover{
    opacity: 80%;
}


h4{
    margin: 0px;
}

.agenda{
    margin: 0;
    font-size: 12px;
    list-style-type: decimal;
}

    .point {
    border: solid 2px #66CCCC;
    padding: 0.5em 1em 0.5em 2.3em;
    position: relative;
  }
  
  .point li {
    line-height: 1.5;
    padding: 0.5em 0;
    list-style-type: none!important;/*ポチ消す*/
  }
  
  .point li:before {
    font-family: "far fa-check-square";
    content: "\f00c";
    position: absolute;
    left : 1em; /*左端からのアイコンまで*/
    color: #66CCCC; /*アイコン色*/
  }


  .agendas{
    background-color:#66CCCC;
    text-align: center;
    color: #fff;
  }

.answers-negas{
    padding: 10px;
}
.answers-negas a{
    margin: 50px;
}


.controller{
    width: 700px;
    height: 240px;
    background-color: #66CCCC;
    color: #fff;
    margin-top: 20px;

}

.controller form{
    float: left;
    padding: 0 40px;
}

  .grad-wrap{
      margin: 10px;
  }

  .grad-item {
    position: relative;
    overflow: hidden;
    height: 300px; /*隠した状態の高さ*/
  }
  .grad-item::before {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px; /*グラデーションで隠す高さ*/
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
    background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
    content: "";
  }
  .grad-trigger {
    display: none; /*チェックボックスは常に非表示*/
  }
  .grad-trigger:checked + .grad-btn {
    display: none; /*チェックされていたら、grad-btnを非表示にする*/
  }
  .grad-trigger:checked ~ .grad-item {
    height: auto; /*チェックされていたら、高さを戻す*/
  }
  .grad-trigger:checked ~ .grad-item::before {
    display: none; /*チェックされていたら、grad-itemのbeforeを非表示にする*/
  }

  .grad-btn{
      color: #66CCCC;
  }
